{% extends 'layouts/base.twig' %}

{% block content %}
    <article class="post-type-{{ post.type }}" id="post-{{ post.id }}">
        <section class="article-content">
            <h2>{{ post.title }}</h2>

            <p class="blog-author">
                <span>Par</span>
                <a href="{{ post.author.path }}">{{ post.author.name }}</a>
                <span>—</span>
                <time datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time>
            </p>
            <div class="article-body">{{ post.content }}</div>
        </section>
    </article>
{% endblock %}
